<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employee-heading" data-cy="EmployeeCreateUpdateHeading" jhiTranslate="vghrmsApp.employee.home.createOrEditLabel">
        Create or edit a Employee
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.middleName" for="field_middleName">Middle Name</label>
          <input
            type="text"
            class="form-control"
            name="middleName"
            id="field_middleName"
            data-cy="middleName"
            formControlName="middleName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.gender" for="field_gender">Gender</label>
          <input type="text" class="form-control" name="gender" id="field_gender" data-cy="gender" formControlName="gender" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.empUniqueId" for="field_empUniqueId">Emp Unique Id</label>
          <input
            type="text"
            class="form-control"
            name="empUniqueId"
            id="field_empUniqueId"
            data-cy="empUniqueId"
            formControlName="empUniqueId"
          />
          <div *ngIf="editForm.get('empUniqueId')!.invalid && (editForm.get('empUniqueId')!.dirty || editForm.get('empUniqueId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('empUniqueId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.joindate" for="field_joindate">Joindate</label>
          <div class="d-flex">
            <input
              id="field_joindate"
              data-cy="joindate"
              type="datetime-local"
              class="form-control"
              name="joindate"
              formControlName="joindate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.employmentTypeId" for="field_employmentTypeId"
            >Employment Type Id</label
          >
          <input
            type="number"
            class="form-control"
            name="employmentTypeId"
            id="field_employmentTypeId"
            data-cy="employmentTypeId"
            formControlName="employmentTypeId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.companyId" for="field_companyId">Company Id</label>
          <input type="number" class="form-control" name="companyId" id="field_companyId" data-cy="companyId" formControlName="companyId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.lastModified" for="field_lastModified">Last Modified</label>
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.designation" for="field_designation">Designation</label>
          <select
            class="form-control"
            id="field_designation"
            data-cy="designation"
            name="designation"
            formControlName="designation"
            [compareWith]="compareDesignation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="designationOption" *ngFor="let designationOption of designationsSharedCollection">
              {{ designationOption.name }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.department" for="field_department">Department</label>
          <select
            class="form-control"
            id="field_department"
            data-cy="department"
            name="department"
            formControlName="department"
            [compareWith]="compareDepartment"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="departmentOption" *ngFor="let departmentOption of departmentsSharedCollection">
              {{ departmentOption.name }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.branch" for="field_branch">Branch</label>
          <select
            class="form-control"
            id="field_branch"
            data-cy="branch"
            name="branch"
            formControlName="branch"
            [compareWith]="compareBranch"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="branchOption" *ngFor="let branchOption of branchesSharedCollection">{{ branchOption.branchName }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vghrmsApp.employee.region" for="field_region">Region</label>
          <select
            class="form-control"
            id="field_region"
            data-cy="region"
            name="region"
            formControlName="region"
            [compareWith]="compareRegion"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="regionOption" *ngFor="let regionOption of regionsSharedCollection">{{ regionOption.regionName }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
